* {
  margin: 0;
  padding: 0;
}

/* FIRA SANS FONT */

.fira-sans-regular {
  font-family: 'Fira Sans', serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: 'Fira Sans', serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: 'Fira Sans', serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: 'Fira Sans', serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: 'Fira Sans', serif;
  font-weight: 800;
  font-style: normal;
}

/* SHARED STYLES */
::selection {
  background-color: var(--btn);
  color: var(--boxbg);
}

body {
  background-color: #f5f5f5;
}

.all-content-width {
  max-width: 1280px;
  margin: 0 auto;
}

:root {
  --bg: #c6e4d6;
  --description: #535353;
  --title: #000;
  --subtitle: #3e3e3e;
  --btn: #0f6950;
  --boxbg: #fff;
  --border: #dbdbdb;
}

.margin-bottom {
  margin-bottom: 80px;
}

/* NAVBAR STYLES */

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 44px;
}

.nav-title {
  font-size: 32px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn {
  font-size: 18px;
  color: var(--btn);
  font-weight: 600;
  padding: 15px 30px;
  border: 1px solid var(--btn);
  border-radius: 8px;
}

.nav-btn:hover {
  background-color: var(--btn);
  color: var(--boxbg);
  cursor: pointer;
  transition: 0.5s;
}

/* BANNER STYLES */

.banner {
  height: 560px;
  border-radius: 24px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-descr {
  color: var(--description);
  font-size: 24px;
  font-weight: 500;
}

.banner-title {
  color: var(--title);
  font-size: 56px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 24px;
}

.banner-btn {
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  background-color: var(--btn);
  color: var(--boxbg);
  font-size: 18px;
  font-weight: 600;
}

.banner-btn:hover {
  background-color: var(--boxbg);
  border: 1px solid var(--btn);
  cursor: pointer;
  color: var(--btn);
  transition: 0.5s;
}

/* PILLARS STYLES */

.pillars-title {
  color: var(--title);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.pillars-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.pillar {
  width: 302px;
  height: 244px;
  background-color: var(--boxbg);
  border: 1px solid var(--border);
  border-radius: 16px;
}

.pillar-container {
  padding: 24px;
}

.pillar-title {
  color: var(--subtitle);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}

.pillar-descr {
  color: var(--description);
  font-size: 16px;
}

/* VISIONS STYLES */

.visions-title {
  color: var(--title);
  font-size: 40px;
  font-weight: 700;
}

.visions-descr {
  color: var(--description);
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.visions-container {
  height: 325px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.vision-left {
  width: 410.67;
  height: 100%;
  background-color: #d6e1f5;
  border-radius: 16px;
}

.vision-middle {
  width: 410.67;
  height: 100%;
  background-color: var(--bg);
  border-radius: 16px;
}

.vision-right {
  width: 410.67;
  height: 100%;
  background-color: #f6ebd0;
  border-radius: 16px;
}

.vision-container {
  padding: 32px;
}

.vision-title {
  color: var(--title);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
}

.vision-descr {
  color: var(--description);
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.vision-left-btn {
  padding: 11px 20px;
  background-color: #5a92f4;
  color: var(--boxbg);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

.vision-left-btn:hover {
  background-color: var(--boxbg);
  color: #5a92f4;
  border: 1px solid #5a92f4;
  cursor: pointer;
  transition: 0.5s;
}

.vision-middle-btn {
  padding: 11px 20px;
  background-color: var(--btn);
  color: var(--boxbg);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

.vision-middle-btn:hover {
  background-color: var(--boxbg);
  color: var(--btn);
  border: 1px solid var(--btn);
  cursor: pointer;
  transition: 0.5s;
}

.vision-right-btn {
  padding: 11px 20px;
  background-color: #fcc140;
  color: var(--boxbg);
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

.vision-right-btn:hover {
  background-color: var(--boxbg);
  color: #fcc140;
  border: 1px solid #fcc140;
  cursor: pointer;
  transition: 0.5s;
}

/* FUTURE VISION */

.future-vision {
  background-color: var(--boxbg);
  height: 232px;
  border: 1px solid var(--border);
  border-radius: 16px;
}
.future-vision-container {
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  border: 1px solid var(--boxbg);
  margin: 25px 24px 48px 24px;
}

.future-vision-descr {
  color: var(--description);
  font-size: 16px;
  margin-top: 23px;
  margin-bottom: 12px;
}

.future-vision-title {
  color: var(--subtitle);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.future-vision-descr-btm {
  color: var(--description);
  font-size: 16px;
}

/* OPINIONS STYLES */

.opinions-title {
  color: var(--title);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

.opinion-container {
  height: 350px;
  padding: 32px;
  background-color: var(--boxbg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.opinion-table {
  width: 1216px;
  height: 345px;
}

.opinion-table,
td {
  border-collapse: collapse;
  border: 1px solid var(--border);
}

.opinion-table th {
  color: var(--title);
  background-color: var(--bg);
  font-size: 20px;
  font-weight: 600;
}

.table-head {
  text-align: left;
  padding: 24px;
}

.opinion-left-td {
  color: var(--title);
  font-size: 16px;
  font-weight: 600;
  width: 980px;
  padding-left: 24px;
}

.center {
  text-align: center;
}

#options {
  padding: 10px 16.5px;
  background-color: var(--bg);
  font-size: 16px;
  font-weight: 600;
}

/* NEWSES STYLES */

.newses-container {
  height: 1406px;
}

.newses-title {
  color: var(--title);
  font-size: 40px;
  font-weight: 700;
}

.newses-descr {
  color: var(--description);
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.news {
  height: 300px;
  padding: 48px;
  border-radius: 24px;
  background-color: var(--boxbg);
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-satellite {
  border-radius: 24px;
}

.news-title {
  color: var(--title);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.news-descr {
  color: var(--description);
  font-size: 16px;
  margin: 12px 0px;
}

.news-btn {
  padding: 13px 26px;
  background-color: var(--btn);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

.news-btn:hover {
  background-color: var(--bg);
  color: var(--btn);
  border: 1px solid var(--btn);
  transition: 0.5s;
  cursor: pointer;
}

/* DONATE STYLES */

.donate {
  text-align: center;
}

.donate-title {
  color: var(--title);
  font-size: 40px;
  font-weight: 700;
}

.donate-descr {
  color: var(--description);
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.donate-amount {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.donate-amount-btn {
  padding: 40px;
  background-color: var(--boxbg);
  color: var(--subtitle);
  font-size: 40px;
  font-weight: 700;
  border: 1px solid var(--border);
  border-radius: 16px;
}

.greenbg {
  background-color: var(--bg);
}

.donate-amount-btn:hover {
  background-color: var(--btn);
  color: var(--boxbg);
  transition: 0.5s;
  cursor: pointer;
}

#donate-other-amount {
  width: 1032px;
  height: 64px;
  border: none;
  border-bottom: 1px solid var(--border);
  margin-top: 32px;
  text-align: center;
  font-size: 20px;
}

#donate-other-amount::-webkit-outer-spin-button,
#donate-other-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.donate-btn {
  padding: 17px 34px;
  background-color: var(--btn);
  color: var(--boxbg);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.donate-btn:hover {
  background-color: var(--bg);
  color: var(--btn);
  border: 1px solid var(--btn);
  cursor: pointer;
  transition: 0.5s;
}

/* NEWSLETTER STYLES */

.newsletter {
  text-align: center;
  background-color: var(--bg);
  padding: 80px 265px;
  border-radius: 24px;
}

.newsletter-title {
  color: var(--title);
  font-size: 40px;
  font-weight: 700;
}

.newsletter-descr {
  color: var(--description);
  margin-top: 16px;
  margin-bottom: 24px;
}
.newsletter-promise {
  color: var(--description);
  margin-top: 24px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

#email {
  width: 560px;
  height: 55px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  padding-left: 40px;
}

#subscribe {
  width: 150px;
  height: 56px;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background-color: var(--btn);
  color: var(--boxbg);
  font-size: 18px;
  font-weight: 600;
}

#subscribe:hover {
  background-color: var(--boxbg);
  color: var(--btn);
  border: 1px solid var(--btn);
  cursor: pointer;
  transition: 0.5s;
}

/* FOOTER STYLES */

.footer {
  background-color: var(--boxbg);
  width: 100%;
  height: 226px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-title {
  color: var(--title);
  font-size: 32px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 32px;
}

.footer-hr {
  height: 1px;
  /* background-color: rgba(14, 14, 14, 0.1); */
  background-color: var(--border);
  border: none;
  text-align: center;
  width: 1122px;
  margin-bottom: 32px;
}

.footer-icons-container {
  display: flex;
  gap: 23px;
}

.socialMediaIcons:hover {
  border: 10px solid var(--btn);
  border-radius: 50%;
  padding: 5px;
  transition: 0.8s;
  transform: rotate(360deg);
}
